
* {
	/* border: 1px solid pink; */
	
}

html, body, .screen {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'overlap';
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #FFF5B2;
}

.screen {
	grid-area: overlap;
	background-color: rgb(183, 182, 182);
	z-index: 1;
	opacity: 90%;
}

/* form, main {
	grid-column: 1;
	grid-row: 1;
} */

.form {
	display: flex;
	justify-content: center;
	background-color: rgb(190, 195, 200);
	border: black solid 2px;
	height: 300px;
	width: 500px;
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: 1;
}

.user-generation {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}

.form-avatar {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.avatar-icon {
	height: 10em;
	width: 10em;
}

main {
	grid-area: overlap;
	display: flex;
	flex-direction: column;	
	height: inherit;
	width: inherit;
}

.top-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	height: 75%;
}

.game-view > .top-display{
	display: flex;
	
}

.game-view-weapons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

h1 {
	text-align: center;
	font-size: xx-large;
	width: 100%;
	height: 10%;
}

.display-games {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

p {
	font-size: xx-large;
}

.games {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 65%;
	background-color: #D7FCD4;
	border: black 2px solid;
}

.classic {
	width: 400px
}

.alternate {
	height: 100%;
	width: 600px;
}

h2 {
	height: 20%
}

.games-figures {
	height: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.figures-weapon {
	height: 8em;
	width: 8em;
	padding: 0;
	margin: 0;
}

.player-display {
	display: flex;
	justify-content: space-around;
	height: 25%;
	background-color: #9E2B25;
}

.display-player {
	display: flex;
	width: 50%;
	background-color: #9E2B25;
}

.player-box {
	display: flex;
	flex-direction: column;
	width: 20%;
	align-items: center;	
	justify-content: center;	
	border: black solid 2px;
}

img {
	height: 100%;
	width: 100%;
}

.player-avatar {
	padding: 0;
	margin: 0;
	height: 60%;
}

.player-name {
	font-size: xx-large;
	flex-wrap: wrap;
	margin-top: .5em;
}

.tally {
	align-self: center;
	text-align: center;
	font-size: xx-large;
	font-weight: 100;
	width: 100%;
}

.hidden {
	display: none;
}